{% extends "flask_user_layout.html" %}

{% block content %}
<div class="container">
    <h2>{{ title }}</h2>

    <!-- Search Bar -->
    <form action="{{ url_for('movies_page') }}" method="get" class="form-inline mb-3">
        <div class="form-group mr-2">
            <label for="search" class="sr-only">Search:</label>
            <input type="text" class="form-control" id="search" name="search" placeholder="Search for movies">
        </div>
        <button type="submit" class="btn btn-primary">Search</button>
    </form>

    <div style="margin-bottom: 5px;"></div>

    <!-- Button to open modal -->
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#genreModal">
        Filter Genres
    </button>

    <div style="margin-bottom: 5px;"></div>

    <!-- Modal -->
    <div class="modal fade" id="genreModal" tabindex="-1" role="dialog" aria-labelledby="#genreModal" style="margin-bottom: 10px;">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="genreModalLabel">Select Genres</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- Form to select genres -->
                    <form action="{{ url_for('movies_page', genres=selected_genres) }}" method="get">
                        <div class="form-group">
                            <label for="genres">Genres:</label>
                            <!-- Replace 'genres' with the actual name of your genre parameter -->
                            <select multiple class="form-control" id="genres" name="genres[]">
                                {% for genre in all_genres %}
                                    <option value="{{ genre }}">{{ genre }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <button type="submit" class="btn btn-primary">Filter</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    {% for m in pagination.items %}
        <div class="panel panel-default">
            <div class="panel-heading"><b>{{ m.title }}</b></div>
            <div class="panel-body">
                <p>
                    {% for g in m.genres %}
                        <span class="label label-default">{{ g.genre }}</span>
                    {% endfor %}
                </p>

                <!-- Display links -->
                <p>
                    <strong>Links:</strong>
                    {% for link in m.links %}
                        <a href="https://www.imdb.com/title/tt{{ link.imdb_id }}/ " target="_blank">IMDB</a>
                        ,
                        <a href="https://www.themoviedb.org/movie/{{ link.tmdb_id }}/ " target="_blank">TMDB</a>
                        
                    {% endfor %}
                </p>

                <!-- Display tags -->
                <p>
                    <strong>Tags:</strong>
                    {% for tag in m.tags %}
                        <span class="label label-primary">{{ tag.tag }}</span>
                    {% endfor %}
                </p>
                <p>
                    <a href="{{ url_for('recommender', movie_id=m.id) }}">People also liked:</a>
                </p>
            </div>
            <div class="panel-footer movie-rating">Rate:
                <a href="#" class="card-link" data-movieid="{{ m.id }}">1</a>
                <a href="#" class="card-link" data-movieid="{{ m.id }}">2</a>
                <a href="#" class="card-link" data-movieid="{{ m.id }}">3</a>
                <a href="#" class="card-link" data-movieid="{{ m.id }}">4</a>
                <a href="#" class="card-link" data-movieid="{{ m.id }}">5</a> Stars
            </div>
        </div>
    {% endfor %}

    <!-- Pagination Links -->
    <div class="pagination">
        <span class="mr-2">Page {{ pagination.page }} of {{ pagination.pages }}</span>
        {% if pagination.has_prev %}
            <a href="{{ url_for('movies_page', page=pagination.prev_num, genres=selected_genres) }}">« Prev</a>
        {% endif %}
        {% for num in pagination.iter_pages() %}
            {% if num %}
                {% if num == pagination.page %}
                    <span class="current">{{ num }}</span>
                {% else %}
                    <a href="{{ url_for('movies_page', page=num, genres=selected_genres) }}">{{ num }}</a>
                {% endif %}
            {% else %}
                <span class="ellipsis">…</span>
            {% endif %}
        {% endfor %}
        {% if pagination.has_next %}
                <a href="{{ url_for('movies_page', page=pagination.next_num, genres=selected_genres) }}">Next »</a>
            {% endif %}
        </div>
</div>

<script>
    // Function to handle the click event on any rating link
    function rateMovie(event) {
        event.preventDefault(); // Prevent the default anchor action

        var movieid = this.getAttribute('data-movieid');
        var rating = this.textContent;
        var elem = this;

        // Create an AJAX request
        var xhr = new XMLHttpRequest();
        xhr.open('POST', '{{url_for("rate")}}', true);
        xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');

        // Handle the response
        xhr.onload = function() {
            if (xhr.status === 200) {
                // Replace the entire div with the response
                elem.parentElement.innerHTML = xhr.responseText;
            } else {
                alert('Request failed. Returned status of ' + xhr.status);
            }
        };

        // Send the request with the movie ID and the rating
        xhr.send('movieid=' + movieid + '&rating=' + rating);
    }

    // Attach the event listener to each rating link
    var links = document.querySelectorAll('.movie-rating .card-link');
    for (var i = 0; i < links.length; i++) {
        links[i].addEventListener('click', rateMovie);
    }
</script>

{% endblock %}